.footer-logo {
  width: 140px;
  height: 140px;
}

.footer a {
  color: #fff;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.fl-container {
  grid-column: 1 / 2;
  grid-row: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10%;
}

.link-container {
  grid-column: 2 / 3;
  grid-row: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright-container {
  grid-column: 3 / 4;
  grid-row: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 10%;
  text-align: center;
  line-height: 24px
}

@media (max-width: 570px) {

  .footer-logo {
    width: 90px;
    height: 90px;
  }

  .fl-container {
    padding-left: 20%;
  }

  .link-container, .copyright-container {
    font-size: 14px;
  }


  .copyright-container {
    padding-right: 25%;
  }

}
