/*
NOTE: EACH SECTION'S BASIC STYLING LIES WITHIN, OTHERWISE REFER TO EACH COMPONENT'S INDIVIDUAL SCSS FILE FOR ITS STYLING
*/

body {
  background-image: url('../assets/blockfesthomebg.svg');
  background-size: auto;
  background-repeat: repeat;
  width: 100%;
  height: auto;
  margin: 0;
  overflow-x: hidden;
  position: absolute;
}

.home-root {
  display: grid;
  width: 100%;
  height: auto;
  grid-template-columns: 100%;
  grid-template-rows: 900px 500px 1520px 700px 1350px 400px 150px;
}

.home-root-short {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 100%;
  grid-template-rows: 900px 500px 1065px 700px 1350px 400px 150px;
}

// LANDING SECTION STYLING

.landing-section {
  grid-column: 1;
  grid-row: 1 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  // padding-left: 10%;
  // padding-right: 10%;
}

//ABOUT SECTION STYLING

.about-section {
  grid-column: 1;
  grid-row: 2 / 3;
  background-color: #fff;
  color: #171A3E;
  font-family: 'Hepta Slab', serif;
}

// SCHEDULE SECTION STYLING

.schedule-section {
  display: grid;
  grid-column: 1;
  grid-row: 3 / 4;
  background-color: #171A3E;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: #EF034F;
  grid-template-columns: 100%;
  grid-template-rows: 240px 250px 1030px;
}

.schedule-section-short {
  display: grid;
  grid-column: 1;
  grid-row: 3 / 4;
  background-color: #171A3E;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: #EF034F;
  grid-template-columns: 100%;
  grid-template-rows: 240px 250px 575px;
}


//JUDGES & SPEAKERS SECTION STYLING

// .judges-speakers-section {
//   width: 100%;
//   height: 1020px;
//   background-color: #171A3E;
//   position: absolute;
//   top: 2815px;
//   display: grid;
//   border-top: 10px dotted #EF034F;
//   // border-bottom: 10px dotted #EF034F;
//   grid-template-columns: 100%;
//   grid-template-rows: 210px 790px;
// }

// //SPONSORS SECTION

// .sponsors-section {
//   width: 100%;
//   height: 2000px;
//   background-color: #fff;
//   position: absolute;
//   top: 3847px;
//   display: grid;
//   grid-template-columns: 100%;
//   grid-template-rows: 200px 1300px;
// }

// VENUE SECTION

.venue-section {
  grid-column: 1;
  grid-row: 4 / 5;
  background-color: #fff;
  justify-content: center;
  grid-template-columns: 100%;
  grid-template-rows: 300px 400px;
  display: grid;
  // padding-right: 10%;
  // padding-left: 10%;
}

// FAQ-SECTION

.FAQ-section {
  grid-column: 1;
  grid-row: 5 / 6;
  background: #171A3E;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #fff;
  flex-flow: column;
  padding-top: 135px;
}

// CONTACT SECTION

.contact-section {
  grid-column: 1;
  grid-row: 6 / 7;
  background-color: #EF034F;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

// FOOTER

.footer {
  grid-column: 1;
  grid-row: 7 / 8;
  border-top: 1px solid rgb(177, 178, 190);
  background-color: #EF034F;
  display: grid;
  grid-template-columns: 1fr 420px 1fr;
  grid-template-rows: 100%;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 18px;
}














