.blockLogo {
  height: 280px;
  width: 280px;
  top: 100px;
  position: absolute;
  justify-self: center;
}

.blockText {
  top: 400px;
  height: 78.76px;
  width: 80%;
  position: absolute;
  z-index: 10;

}

.landing-headline {
  color: #fff;
  font-family: 'Hepta Slab', serif;
  font-weight: 400;
  position: absolute;
  letter-spacing: 3px;
  font-size: 16px;
  height: 50px;
  align-self: center;
  top: 550px;
  text-align: center;
  width: 80%;
  line-height: 24px;
}

.web-wrapper {
  position: absolute;
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
  height: 250px;
  align-self: center;
  top: 610px;
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 20px;
}

.line-1-web, .line-2-web {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
}

.mobile a, .line-1-web a {
  text-decoration: none;
  color: #fff;
}

.mobile-hack-link {
  width: 207px;
  height: 60px;
  margin-right: 30px;
}

.mobile-sponsor-link {
  width: 212px;
  height: 60px;
  margin-left: 30px;
}

.line-1-web .hack-link-web {
  width: 320px;
  height: 70px;
  margin-left: 0px;
  margin-right: 75px;
}

.sponsor-link-web {
  width: 290px;
  height: 70px;
  margin-left: 75px;
}



.dlt-pill-web {
  width: 260px;
  height: 70px;
  border: 1px solid rgb(177, 178, 190);
  border-radius: 50px 50px 50px 50px;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 18px;
  color: #fff;
  background-color: #171A3E;
  padding-left: 60px;
  margin-right: 75px;
}

.dlt-pill {
  width: 970px;
  height: 70px;
  border: 1px solid rgb(177, 178, 190);
  border-radius: 50px 50px 50px 50px;
  position: absolute;
  top: 650px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 18px;
  color: #fff;
  background-color: #171A3E;
  padding-left: 30px;
  left: 258px;
  display: none;
}

.date-text-web {
  position: relative;
  left: -15px;
}

.date-text {
  position: relative;
  margin-left: 15px;
  display: none;
}

.location-text-web {
  position: relative;
  left: -10px;
}

.location-text {
  position: relative;
  margin-left: 10px;
  display: none;
}

.apply-text-web {
  position: relative;
}

.apply-text {
  position: relative;
  display: none;
}

.location-web {
  width: 250px;
  height: 70px;
  border: 1px solid rgb(177, 178, 190);
  border-radius: 50px 50px 50px 50px;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #171A3E;
  padding-left: 40px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #fff;
  font-size: 18px;
  letter-spacing: 1px;
  margin-left: 75px;
}

.location {
  width: 500px;
  height: 70px;
  border: 1px solid rgb(177, 178, 190);
  border-right: 0px;
  border-radius: 50px 50px 50px 50px;
  position: relative;
  display: flex;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 18px;
  color: #fff;
  justify-content: flex-start;
  align-items: center;
  background-color: #171A3E;
  padding-left: 30px;
  position: absolute;
  top: 650px;
  right: 475px;
  display: none;
}

.apply-web {
  width: 320px;
  height: 70px;
  border: 1px solid rgb(177, 178, 190);
  border-right: 0px;
  border-radius: 50px 50px 50px 50px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #7988E4;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 18px;
  color: #fff;
  padding-right: 0px;
  margin-right: 75px;
}

.apply {
  width: 420px;
  height: 70px;
  border: 1px solid rgb(177, 178, 190);
  border-right: 0px;
  border-radius: 50px 50px 50px 50px;
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  background-color: #E62160;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 18px;
  color: #fff;
  padding-left: 30px;
  right: 265px;
  top: 650px;
  display: none;
}

.apply-text {
  position: relative;
  display: flex;
  padding-left:-5px;
}

.apply-web:hover {
  background-color: darken(#7988E4, 5%);
}


.apply:hover {
  background-color: darken(#7988E4, 5%);
}

.sponsor-web {
  width: 290px;
  height: 70px;
  border: 1px solid rgb(177, 178, 190);
  border-right: 0px;
  border-radius: 50px 50px 50px 50px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EF034F;
  z-index: 5;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 18px;
  cursor: pointer;
}

.sponsor {
  width: 220px;
  height: 70px;
  border: 1px solid rgb(177, 178, 190);
  border-right: 0px;
  border-radius: 50px 50px 50px 50px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #EF034F;
  z-index: 5;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 18px;
  color: #fff;
  right: 265px;
  top: 650px;
  cursor: pointer;
  display: none;
  text-align: center;
}

.sponsor-web:hover {
  background-color: darken(#EF034F, 5%);
}

.sponsor:hover {
  background-color: darken(#EF034F, 5%);
}

.calendar-icon-web {
  width: 40px;
  height: 40px;
  position: relative;
  left: -30px;
}

.calendar-icon {
  width: 40px;
  height: 40px;
  position: relative;
  display: none;
}

.pin-web {
  width: 40px;
  height: 40px;
  position: relative;
  left: -15px;
}

.pin {
  width: 40px;
  height: 40px;
  position: relative;
  display: none;
}

.skyline {
  position: absolute;
  z-index: -100;
  right: 0px;
  bottom: 0px;
  width: 100%;
}


@media (max-width: 1045px) {

  .landing-headline {
    font-size: 14px;
  }

  .pin, .calendar-icon {
    right: 10px;
    display: flex;
    width: 30px;
    height: 30px;
  }

  .dlt-pill-web, .location-web, .sponsor-web, .apply-web, .pin-web, .calendar-icon-web, .date-text-web, .location-text-web, .apply-text-web {
    display: none;
  }

  .web-wrapper {
    display: none;
  }

  .location, .sponsor, .dlt-pill, .apply {
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
  }

  .mobile-hack-link {
    width: 227px;
    height: 60px;
    margin-right: 30px;
  }

  .mobile-sponsor-link {
  width: 232px;
  height: 60px;
  margin-left: 30px;
  }

  .location {
    display: flex;
    position: relative;
    height: 55px;
    width: 170px;
    font-size: 16px;
    border: 1px solid rgb(177, 178, 190);
    margin-left: 30px;
    padding-right: 30px;
  }

  .location-text, .date-text {
    display: flex;
    margin-left: 0px;
    margin-right: 5px;
  }

  .date-text {
    position: relative;
    left: -5px;
    margin-left: 10px;
    display: flex;
  }

  .sponsor {
    display: flex;
    position: relative;
    height: 55px;
    width: 230px;
    font-size: 16px;
    justify-content: center;
    border: 1px solid rgb(177, 178, 190);

  }

  .dlt-pill {
    display: flex;
    position: relative;
    width: 200px;
    font-size: 16px;
    height: 55px;
    margin-right: 30px;
  }

  .apply {
    display: flex;
    position: relative;
    width: 220px;
    height: 55px;
    font-size: 16px;
    justify-content: center;
    background-color: #7988E4;
    padding: 0px 0px 0px 5px;
    border: 1px solid rgb(177, 178, 190);
  }

  .mobile {
    position: absolute;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    height: 250px;
    align-self: center;
    top: 610px;
    display: flex;
    justify-content: center;
    align-items: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 20px;

  }

  .line-1, .line-2 {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
  }

}



@media (max-width: 570px) {

  .landing-headline {
    font-size: 14px;
    letter-spacing: 1.5px;
    line-height: 24px;
    top: 525px;
  }

  .mobile {
    padding-left: 5%;
    padding-right: 5%;
    width: 90%;
  }

  .sponsor {
    width: 185px;
    font-size: 14px;
  }

  .apply {
    width: 190px;
    font-size: 14px;
    padding-left: 0px;
    left: 15px;
  }

  .mobile-hack-link {
    width: 207px;
    margin-right: 40px;
  }

  .mobile-sponsor-link {
    width: 207px;
    margin-left: 20px;
  }

  .location, .dlt-pill {
    width: 160px;
    font-size: 14px;
  }

  .location {
    padding-right: 5px;
    padding-left: 20px;
  }



}
