.blockLogo {
  height: 280px;
  width: 280px;
  top: 100px;
  position: absolute;
  justify-self: center;
}

.blockText {
  top: 400px;
  height: 78.76px;
  width: 80%;
  position: absolute;
  z-index: 10;

}

.landing-headline {
  color: #fff;
  font-family: 'Hepta Slab', serif;
  font-weight: 400;
  position: absolute;
  letter-spacing: 3px;
  font-size: 16px;
  height: 50px;
  align-self: center;
  top: 550px;
  text-align: center;
}

.dlt-pill {
  width: 970px;
  height: 70px;
  border: 1px solid rgb(177, 178, 190);
  border-radius: 50px 50px 50px 50px;
  position: absolute;
  top: 650px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 18px;
  color: #fff;
  background-color: #171A3E;
  padding-left: 30px;
  left: 258px;
}

.date-text {
  position: relative;
  margin-left: 15px;
}

.location-text {
  position: relative;
  margin-left: 10px;
}

.apply-text {
  position: relative;
}

.location {
  width: 500px;
  height: 70px;
  border: 1px solid rgb(177, 178, 190);
  border-right: 0px;
  border-radius: 50px 50px 50px 50px;
  position: relative;
  display: flex;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 18px;
  color: #fff;
  justify-content: flex-start;
  align-items: center;
  background-color: #171A3E;
  padding-left: 30px;
  position: absolute;
  top: 650px;
  right: 475px;
}

.apply {
  width: 420px;
  height: 70px;
  border: 1px solid rgb(177, 178, 190);
  border-right: 0px;
  border-radius: 50px 50px 50px 50px;
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  background-color: #E62160;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 18px;
  color: #fff;
  padding-left: 30px;
  right: 265px;
  top: 650px;
}

.apply:hover {
  background-color: darken(#E62160, 5%);
}

.sponsor {
  width: 220px;
  height: 70px;
  border: 1px solid rgb(177, 178, 190);
  border-right: 0px;
  border-radius: 50px 50px 50px 50px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #EF034F;
  z-index: 5;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 18px;
  color: #fff;
  padding-left: 30px;
  right: 265px;
  top: 650px;
  cursor: pointer;
}

.sponsor:hover {
  background-color: darken(#EF034F, 5%);
}

.calendar-icon {
  width: 40px;
  height: 40px;
  position: relative;
}

.pin {
  width: 40px;
  height: 40px;
  position: relative;
}

.skyline-container {
  width: 100%;
  height: 800px;
  align-self: center;
  display: flex;
}

.skyline {
  position: absolute;
  z-index: -100;
  width: 1800px;
  height: 800px;
  left: 0px;
  // top: 61px;
  object-fit: cover;
  width: 100%;
  bottom: 0px;
}

.apply a, .sponsor a {
  text-decoration: none;
  color: #fff;
}



@media (max-width: 570px) {

  .skyline {
  position: absolute;
  z-index: -100;
  width: 1600px;
  height: 800px;
  right: 500px;
  // top: 61px;
  object-fit: cover;
  bottom: 0px;
}

  .landing-headline {
    font-size: 9px;
    font-weight: 500;
    letter-spacing: 1.5px;
  }

  .location, .sponsor, {
    top: 750px;
    font-size: 14px;
  }

  .pin, .calendar-icon {
    width: 30px;
    height: 30px;
  }

  .location {
    left: 20px;
    height: 55px;
    width: 180px;
    padding-left: 15px;
    border: 1px solid rgb(177, 178, 190);
  }

  .sponsor {
    left: 230px;
    height: 55px;
    width: 190px;
    font-size: 14px;
    padding-left: 0px;
    justify-content: center;
    border: 1px solid rgb(177, 178, 190);
  }

  .dlt-pill {
    width: 180px;
    font-size: 14px;
    left: 213px;
    height: 55px;
  }

  .apply {
    width: 175px;
    height: 55px;
    left: 20px;
    font-size: 14px;
    justify-content: center;
    padding-left: 0px;
    border: 1px solid rgb(177, 178, 190);
  }

}
