.button-portion {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 130px;
  position: absolute;
  z-index: 500;
}

.slot-portion {
  width: 100%;
  display: flex;
  height: 870px;
  justify-content: flex-start;
  align-items: flex-start;
  position: absolute;
  flex-wrap: nowrap;
  flex-flow: column;
  align-self: flex-end;
  opacity: 1.0;
}

.button-tip1 {
  width: 50px;
  height: 50px;
  position: relative;
  left: 200px;
  bottom: 15px;
}

.button-tip2 {
  width: 50px;
  height: 50px;
  position: relative;
  left: 150px;
  bottom: 15px;
  display: none;
}

.slot-portion.leave {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.slot-portion.enter {
  opacity: 1.0;
  transition: opacity 300ms ease-in-out;
}



