.slot {
  width: calc(100% - 25px);
  height: 60px;
  border: 3px solid #fff;
  display: grid;
  grid-template-columns: 20% 80%;
  font-family: 'Hepta Slab', serif;
  position: relative;
  margin-top: 10px;
  margin-bottom: 20px;
  color: #fff;
  padding-left: 20px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.slot-time {
  grid-column: 1 / 2;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  line-height: 28px;
}

.slot-activity {
  grid-column: 2 / 3;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  // padding-right: 20px;

}

@media (max-width: 570px) {

  .slot-time {
    font-size: 18px;
  }

  .slot-activity {
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 24px;
  }

}



