.venue-svg-section {
  grid-column: 1;
  grid-row: 1 / 2;
  display: flex;
  justify-content: center;
}

.location-section {
  grid-column: 1;
  grid-row: 2 / 3;
  display: flex;
  justify-content: center;
}

.location-container {
  width: 80%;
  height: 400px;
  background-color: #171A3E;
  align-self: flex-end;
  display: flex;
}

.location-pic-container, .location-details-container {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 5%;
  padding-right: 5%;
}

.location-details-container {
  flex-flow: column;
}

.hqPic {
  width: 400px;
  height: 300px;
  padding-right: 20px;
  padding-left: 20px;
}

.microsoft-logo {
  width: 64.5px;
  height: 64.5px;
  position: relative;
  right: 250px;
  top: 72.5px;
}

.microsoft-headline {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 40px;
  color: #fff;
  position: relative;
  bottom: 20px;
  text-align: center;
  padding-bottom: 30px;
  padding-top: 10px;
}

.microsoft-headline-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: #fff;
  position: relative;
  bottom: 50px;
  text-align: center;
}

.directions {
  width: 350px;
  height: 75px;
  border-radius: 32.5px 32.5px 32.5px 32.5px;
  border: 0px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  background-color: #7988E4;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  position: relative;
  bottom: 20px;
}

.directions:hover {
  background-color: darken(#7988E4, 5%);
}

@media (max-width: 570px) {

  .hqPic {
  width: 175px;
  height: 175px;
  margin-right: 20px;
  margin-left: 20px;
  position: relative;
  left: 110px;
  bottom: 60px;
}

.microsoft-logo {
  width: 40px;
  height: 40px;
  position: relative;
  right: 250px;
  top: 140px;
  margin-left: 140px;
  margin-right: 20px;
}

.microsoft-headline {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  position: relative;
  top: 85px;
  right: 80px;
  text-align: center;
  padding-bottom: 30px;
  padding-top: 10px;
}

.microsoft-headline-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 9px;
  color: #fff;
  position: relative;
  top: 45px;
  right: 80px;
  text-align: center;
}

.directions {
  width: 150px;
  height: 35px;
  border-radius: 32.5px 32.5px 32.5px 32.5px;
  border: 0px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  letter-spacing: 0.5px;
  background-color: #7988E4;
  color: #fff;
  font-size: 8px;
  cursor: pointer;
  position: relative;
  top: 60px;
  right: 100px;
}

}
